.img-logo {
    margin-top: -6px;
}
.js-rows, 
.js-moderated-rows, 
.form-create-article,
.form-contact {
    width: 80%;
    margin: 65px auto 0;
    list-style-type: none;
    text-align: center;
}
.input-group-addon {
    top: 0px;
}

.js-login {
    margin-left: 25px;
}


/*styles for pagination*/
.page-numbers {
    width: 100%;
    display: inline-block;
    padding: 0;
    /*transform: translateX(80%);*/
}
.page-numbers li {
    display: inline;
}
.page-numbers li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.page-numbers li a.active {
    background-color: #4CAF50;
    color: white;
}
.page-numbers li a:hover:not(.active) {
    background-color: #ddd;
}


.js-edit-article {
    margin-right: 4px;
}
.body-index-page .js-article-comments,
.body-index-page .comment-text,
.body-index-page .js-add-comment {
    display: none;
}
div[data-comment-id] {
    width: 50%;
    margin: 0 auto 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
.one-article .commentator-name,
.one-article .commentator-msg {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.js-add-comment {
    float: right;
    margin-right: 10%;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}